.floater-section {
    float: left;
    min-height: 300px;
    width: 100%;
}

.container::after {
    clear: both;
    content: "";
    display: block;
}

img {
    max-width: 100%;
}

.content {
    padding: 10px;
}

.pink {
    background-color: pink;
}

/* medium screens*/
@media (min-width: 540px) {
    .w-md-25{
        width: 25%;
    }
    .w-md-33{
        width: 33.333333%;
    }
    .w-md-50{
        width: 50%;
    }
    .w-md-66{
        width: 66.6666%;
    }
    .w-md-75{
        width: 75%;
    }
    .w-md-100{
        width: 100%;
    }
}


/* large screens*/
@media (min-width: 800px) {
    .w-lg-25{
        width: 25%;
    }
    .w-lg-33{
        width: 33.333333%;
    }
    .w-lg-50{
        width: 50%;
    }
    .w-lg-66{
        width: 66.6666%;
    }
    .w-lg-75{
        width: 75%;
    }
    .w-lg-100{
        width: 100%;
    }
}