body {
    margin: 0px;
}

nav {
    background-color: black;
    padding: 20px 30px;
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

nav li {
    margin: 10px;
    padding: 5px 0px;
    color: #7b9978;
}

nav li:first-child {
    margin-top: 0px;
}

nav ul a {
    text-decoration: none;
    color: #e4c972;
    text-transform: uppercase;    
    font-family: 'Roboto', sans-serif;

}

div {
    margin: auto;
    height: 668px;
    width: 375px;
    background-color: rgb(219, 219, 219);
    margin-top: 10px;
}

h1 {
    margin: 0px;
    padding-top: 20px;
    padding-left: 40px;
    color: black;

    font-family: 'Anton', sans-serif;
}

@media(min-width: 540px) {
    nav {
        padding: 0px 10px;
        width: 50px;
        height: 1024px;
        float: left;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: none;
        margin: 30px 5px;
        margin-top: 30px;
        text-orientation: upright;
        writing-mode: vertical-lr;
        padding-top: 60px;
    }


    div {
        margin: auto;
        width: 550px;
        height: 1024px;
    }

    h1 {
        margin: 0px;
        padding: 50px 0px 0px 70px;
        text-decoration: underline;
    }
}


@media(min-width: 1024px) {
    nav {
        padding: 0px 10px;
        height: 70px;
        width: 100%;
        float: none;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: none;
        margin: 10px 20px;
        writing-mode: horizontal-tb;
        padding-top: 15px;
    }

   
    div {
        margin: auto;
        margin-top: 30px;
        width: 80%;
        height: 900px;
    }

    h1 {
        margin: 0px;
        padding-top: 30px;
        text-align: center;
    }
}