@import url('nav.css');

body {
    width: 100%;
    margin: auto;
    height: auto;
    background-color: #fff9ee;

}

main {
    width: 100%;
    background-color: #fff9ee;

}

.mobile-landing h1 {
    position: absolute;
    top: 180px;
    color:white;
    width: 343px;
    left: 18px;
    text-shadow: 2px 2px 2px black;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    line-height: 61px;
}


.header-image-space {
    height: 190px;
}




.logo-merge {
    position: absolute;
    top: 268px;
    width: 329px;
    left: 20px;
    z-index: 0;
}

.cotainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
}

h1 {
    font-family: 'Playfair Display', serif;
    padding: 0px 20px;
}

h2 {
    font-family: 'Playfair Display', serif;
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: #48acf0;
}


h4 {
    font-family: 'Raleway', sans-serif;
    padding: 0px 20px;
}

h3 {
    padding: 0px 20px;
    text-align: left;
    color: rgba(0, 0, 0, 0.562);
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

p {
    padding: 0px 23px;
    line-height: 24px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

p::first-letter {
    font-size: 25px;
    padding-left: 20px;
}

.blog-preview h1 {
    margin-bottom: 0px;
}

.blog-preview h3 {
    margin: 0px;
}

.quote {
    color: #48acf0;
    text-align: center;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #48acf0;
    text-decoration-line: underline;
}

footer {
    margin-top: 25px;
}

footer li {
    padding: 20px 0px;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    text-shadow: none;
    text-align: center;
    font-size: 10px;
    width: 250px;
    margin: auto;
    padding: 5px;
}

.blog-divider {
    max-width: 90%;
    display: block;
    margin: auto;
    padding: 18px 0px 13px 0px;
}
