@import url('nav.css');

body {
    width: 100%;
    margin: auto;
    height: auto;
    background-color: #fff9ee;

}

main {
    width: 100%;
    background-color: #fff9ee;

}

.mobile-landing h1 {
    position: absolute;
    top: 180px;
    color: white;
    width: 343px;
    left: 18px;
    text-shadow: 2px 2px 2px black;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    line-height: 61px;
}


.header-image-space {
    height: 150px;
}

.logo-merge {
    position: relative;
    top: -255px;
    width: 329px;
    left: 24px;
    z-index: 0;
    margin-bottom: -249px;
}

.cotainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
}

.LACBA {
    font-size: 33px;
    padding-top: 0px;
    line-height: 43px;
}

h1 {
    font-family: 'Playfair Display', serif;
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-size: 45px;
    color: #48acf0;
}



h2 {
    font-family: 'Playfair Display', serif;
    padding: 0px 20px;
    font-size: 30px;
}




h4 {
    padding: 0px 20px;
    text-align: left;
    color: rgba(0, 0, 0, 0.562);
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

h3 {
    font-family: 'Raleway', sans-serif;
    padding: 0px 20px;
}

p {
    padding: 0px 23px;
    line-height: 25px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    margin-top: 40px;
}

p::first-letter {
    font-size: 25px;
    padding-left: 20px;
}

.para-small {
    font-size: 15px;
    text-align: center;
}

.para-small::first-letter {
    font-size: 15px;
    padding-left: 0px;
}

.blog-preview h2 {
    margin-bottom: 0px;
}

.blog-preview h4 {
    margin: 20px auto;
}

.blog h2 {
    margin-top: 0px;
}

.about-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
}

.quote {
    color: #48acf0;
    text-align: center;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #48acf0;
    text-decoration-line: underline;
    font-size: 15px;
}

footer {
    margin-top: 25px;
}

footer li {
    padding: 20px 0px;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    text-shadow: none;
    text-align: center;
    font-size: 10px;
    width: 250px;
    margin: auto;
    padding: 5px;
}

.blog-divider {
    max-width: 90%;
    display: block;
    margin: auto;
    padding: 18px 0px 13px 0px;
}

.blog-list li {
    padding: 15px 25px 20px 44px;
    font-family: 'Raleway', sans-serif;
    text-shadow: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.donation-box {
    width: 300px;
    height: 400px;
    margin: auto;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border: 1px solid gold;
    background-color: white;
    margin-top: 30px;

}

.donation-title {
    background-color: gold;
    text-align: center;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: white;
    text-shadow: 1px 1px 1px black;

}

.donation-title h2 {
    margin: 0px;
    padding: 10px;
}

.donation-content {
    padding: 20px;
}

.fields input {
    margin: 10px 0px;
    width: 90%;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.donate-btn {
    width: 120px;
    color: white;
    font-size: 20px;
}

.return-btn {
    width: 150px;
    color: white;
    font-size: 15px;
    margin: 30px;
}

.return-btn a {
    color: white;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
}

.thank-box {
    height: 80px;
}

.thank-box {
    text-align: center;
    background-color: white;
    width: 300px;
    height: 270px;
    margin: auto;
    position: relative;
    top: -342px;
    padding-top: 70px;
    margin-bottom: -340px;
    display: none;
}

.message h2 {
    margin-top: 20px;
    color: gold;
    text-shadow: 1px 0px 1px black;
}

.field {
    margin-top: 30px;
}

@media (min-width: 540px) {
    .container {
        width: 85%;
        margin: auto;
    }

    .container-md {
        display: flex;
    }

    .logo-merge {
        width: 340px;
        left: 208px;
    }

    .LACBA {
        font-size: 55px;
        line-height: 83px;
    }

    .sidenav a {
        font-size: 50px;
    }

    .blog-divider {
        width: 698px;
        height: 4px;
    }

    .about-title {
        margin-top: 65px;
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 40px;
    }

    .blog-preview h4 {
        font-size: 20px;
    }

    p {
        line-height: 28px;
    }

    footer li {
        width: 370px;
    }

    .donation-box {
        width: 415px;
    }

    .fields input {
        width: 91%;
    }

    .thank-box {
        width: 414px;
        height: 245px;
        top: -323px;  
        margin-bottom: -281px;

    }
}

@media (min-width: 540px) {
    .logo-merge {
        display: none;
    }

    .header-image-space {
        display: none;
    }
    

    main {
        width: 80%;
        margin: auto;
    }

    .LACBA {
        margin-top: 40px;
    }

    .blog-divider {
        width: 900px;
    }

    .blog h2 {
        margin-top: 60px;
        width: 600px;
    }

    .footer {
        width: 500px;
    }

    h1 {
        margin-top: 40px;
    }
}