.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: gold;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover {
    color: darkorange;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

ul {
    padding: 0px;
}

img {
    max-width: 100%;

}

button {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    background-color: #48acf0;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.35);
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    filter: drop-shadow(1px 2px 3px #7d670f);
}

li {
    padding: 20px 0px;
    list-style: none;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    text-shadow: 2px 1px 3px black;
}

.inside-nav-logo img {
    width: 150px;
}

.mobile-nav img {
    width: 45px;
    padding: 20px;
    filter: drop-shadow(1px 1px 2px black);
}

.nav-top img {
    z-index: -1;
}

li {
    padding: 20px 0px;
    list-style: none;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    text-shadow: 1px 1px 1px black;
}

.inside-nav-logo img {
    width: 150px;
}

.mobile-nav {
    z-index: 1;
}


.nav-top img {
    position: fixed;
    z-index: -1;
    top: 0px;
}


.nav-space {
    height: 256px;
}

.lg-nav {
    display: none;
}

@media (min-width: 540px) {
    li {
        padding: 40px 0px;
    }

    button {
        border-radius: 3em;
        width: 290px;
    }

    .inside-nav-logo img {
        width: 250px;
    }
}

@media (min-width: 800px) {
    .lg-nav {
        display: block;
    }
    .sidenav {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    .nav-space {
        display: none;
    }

    header {
        width: 100%;
        margin: auto;
        background: gold;
    }

    .lg-nav {
        width: 100%;
    }

    .lg-nav a {
        text-decoration: none;
        text-shadow: 1px 1px black;
        color: white;
        font-size: 20px;

    }
    .nav-top img {
        position: static;
        width: 100%;
    }
    .lg-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: gold;
        margin: auto;
        width: 700px;
    }


    .logo {
        width: 84px;
        margin-bottom: -40px;
    }

    .something {
        padding: 20px 0px;
    }
}