.flex-container {
    background: pink;
    display: flex;
}

.flex-item {
    margin: 10px;
}

.flex-item:nth-child(1) {
    background-color: whitesmoke;
}

.flex-item:nth-child(2) {
    background-color: white;
}

.flex-item:nth-child(3) {
    background-color: steelblue;
}

.flex-item:nth-child(4) {
    background-color: mintcream;
}

.flex-item:nth-child(5) {
    background-color: gainsboro;
}

.flex-item:nth-child(6) {
    background-color: powderblue;
}

/* .flex-container {
    background-color: pink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    height: 400px;
    align-content: space-evenly;
} */