@import "layout.css";
@import "navbar.css";
@import "footer.css";
@import url('https://fonts.googleapis.com/css?family=Croissant+One|Raleway:300,400,600&display=swap');



body {
    width: 100%;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 20px 0px 10px 0px;
    color: #FD8E60;
    font-family: 'Raleway', sans-serif;
}

h2 {
    color: #FD8E60;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.text-float h1 {
    font-family: 'Croissant One', cursive;
    position: relative;
    display: inline-block;
    text-align: center;
    top: 152px;
    text-shadow: 1px 2px white, 0 3px 5px black;
    margin-top: -200px;
}

.floater-section ul li:first-of-type {
    margin-top: 20px;
}

img {
    width: 100%;
}

p {
    margin-top: 20px;
    color: #1C0000;
    font-family: 'Raleway', sans-serif;
    line-height: 22px;
}

.aboutp p::first-letter {
    padding-left: 20px;
}

.phrase {
    text-shadow: 0 1px 1px rgb(177, 51, 51);
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #1C0000;
    line-height: 25px;
}

ul li {
    padding-left: 20px;
}

.pink {
    background-color: #F4E0D9;
}

ul li p {
    margin: 0px;
    padding: 10px 0px;
}


ul li h3 {
    text-decoration: underline;
    text-decoration-color: rgb(250, 134, 134);
    margin: 0px;
    padding: 10px 0px;
}

.content ul li {
    padding: 0px;
}


/*MEDIUM*/
@media (min-width: 540px) {
    .header{
    height:  35px;
    }

    .mamas img {
        width: 13%;
    }

    .mamas {
        padding-bottom: 15px;
    }
    .floater-section {
        min-height: 120px;
    }

    .logo {
        display: none;
    }

    .logoli {
        display: none;
    }

    .container {
        min-height: 100px;
    }

    header h1 {
        left: 11px;
        font-size: 25px;
        top: -2px;
    }
    .phrase {
        font-size: 40px;
    }
    .text-float h1 {
        font-family: 'Croissant One', cursive;
        position: relative;
        display: inline-block;
        text-align: center;
        top: 110px;
        text-shadow: 1px 2px white, 0 3px 5px black;
        left: 2px;
        font-size: 29px;
    }

    .floater-section h2 {
        margin-left: 15px;
    }

    .menu h1 {
        margin-top: 0px;
    }


}

@media (min-width: 800px) {
    .floater-section {
        min-height: 250px;
    }

    .mamas {
        display: none;
    }
    nav,
    input#toggler:checked+nav {
        display: block;
    }

    nav ul li {
        display: inline-block;
        font-size: 20px;
    }

    header label img {
        display: none;
    }
    
    .logo {
        max-width: 100px;
        position: relative;
        display: inline-block;
        top: 26px;
        margin: 0px;;
    }

    .logoli{
        margin: 0px;
        padding: 0px;
        display: inline;
        padding-left: 100px;
    }
    input#toggler:checked+nav {
        display: block;
    }

    header h1 {
        display: none;
    }

    .hide {
        display: none;
    }

    .menu p {
        width: 100%;
    }
}
